.sidebar {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: block;
    background-color: $brand-color-white;
    transition: transform 0.3s ease-out;
    z-index: 20;

    @include respond-to('medium') {
        display: none;
    }    

    &--open {
        transform: translateX(0);
    }
    
    &--close {
        animation: hide 1s linear 1s 1 normal forwards;
        transform: translateX(-100%);
    }

    &--close-rtl {
        animation: hide 1s linear 1s 1 normal forwards;
        transform: translateX(100%);
    } 

    &__close-icon {
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 1.5rem;
        height: 1.5rem;
        border: none;
        background: none;
        padding: 0;
    }

    &__logo {
        margin: 5rem 0 2.5rem 0;
        display: flex;
        justify-content: center;

        @include respond-to('small') {
            margin: 2rem 0;
        }
    }

    &__lang-select {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__head {
            font-size: 14px;
            margin-bottom: 12px;
            font-weight: 600;
        }

        &__dropdown {
            border: none;
            font-size: 14px; 

            &:focus {
                outline: none;
            }
        }
    }

    
}



@keyframes hide {
    0% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }   

    100% {
        opacity: 0;
    }
}